.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentcolor;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
	background: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--contrast);
}

.wp-block-read-more:hover {
	background: var(--wp--preset--color--base);
	color: var(--wp--preset--color--primary);
}
